*{
 margin:0;
 padding:0;
box-sizing: border-box;

}


body {
  background: linear-gradient(to left top, #93282896, #080708ab, #932828);
    margin: 20px;
}
.rounded {
    border-radius: 1rem;
}
.nav-pills .nav-link {
    color: #555;
}
.nav-pills .nav-link.active {
    color: white;
}
input[type="radio"] {
    margin-right: 5px;
}
.bold {
    font-weight: bold;
}